
.container{
max-width: 3000px;
margin: auto;
background: #f6f9f6;
overflow: auto;
display: flex;
flex-wrap:wrap;

}

.name-home{
display: inline-block;
text-align: center;
background: white;
font-size: 20px;
float: center;
}



.name0{
padding: 15px;
text-align: left;
color: black;
background: white;
font-size: 22px;
}
.name000{
padding: 15px;
text-align: center;
color: white;
background: black;
font-size: 15px;
}
.name2{
padding: 15px;
text-align: center;
color: blue;
background: white;
font-size: 26px;
}

.gallery{
margin: 5px;
border: 5px solid #aaa;
float: left;
width: 165px;
}


.gallery img{
width: 100%;
height: auto;
}

.gallery2{
margin: 5px;
float: left;
width: 220px;
}

.gallery2 img{
width: 100%;
height: auto;

}